@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


body.layout {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


main.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
